.text-align-left{
    text-align: left;
}
.window-size{
    width: 360px;
}
.full-size{
    width: 100%;
    overflow: hidden;
}
.tab-icon{
    width: 28px;
    height: 28px;
    margin-right: 12px;
}